# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# ==========================
# Environment Files
# ==========================
.env
.env.*

# Keep the example file
!.env.example

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Docker
# ==========================
docker-compose.override.yml

# ==========================
# Spark
# ==========================
metastore_db/
spark-warehouse/

# ==========================
# Airflow
# ==========================
airflow.db
airflow-webserver.pid

# ==========================
# PySpark
# ==========================
*.crc

# ==========================
# Temporary files
# ==========================
tmp/
temp/

# ==========================
# Bytecode
# ==========================
**/__pycache__/
**/*.pyc